<%= simple_form_for([:competition, @competitor], html: {class: 'form-horizontal'}) do |f| %>
  <%= render partial: 'shared/form/error_messages', locals: { resource: @competitor } %>
  
  <div class="form-inputs">
    <%= render partial: 'shared/game_and_exercise_type_association', locals: { f: f } %>
    <%= f.input :name %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
