<%= simple_form_for([:competition, @tournament], html: {class: 'form-horizontal'}) do |f| %>
  <%= render partial: 'shared/form/error_messages', locals: { resource: @tournament } %>
  
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :competitors_limit %>
    <%= f.input :first_season_name %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
