<h3>
  <a name="top">&nbsp;</a>
  <%= @tournament.name %>
</h3>

<dl class="dl-horizontal">
  <%= show_attribute :exercise_type_id, value: link_to(@tournament.game_and_exercise_type.exercise_type.name, competition_exercise_type_path(@tournament.game_and_exercise_type.exercise_type.id)) %>
  <%= show_attribute :game_id, value: link_to(@tournament.game_and_exercise_type.game.name, competition_game_path(@tournament.game_and_exercise_type.game.id)) %>
  <%= show_actions namespace: :competition %>
</dl>

<table>
  <tr>
    <td style="width:270px">
      <%= form_tag competition_tournament_path(@tournament), method: :get, class: 'simple_form form-horizontal' do %>
        <label for="season_id" class="string required" style="display:inline"><%= t('tournament_seasons.general.short_model_name') %></label>&nbsp;&nbsp;
        <%= hidden_field_tag 'matchday', @matchday %>
        <%= select_tag 'season_id', options_for_select(@seasons.map{|s| [s.name || s.id, s.id]}, @season.id), style: 'width:110px' %> 
        <% if user_signed_in? %>
          &nbsp;&nbsp;
          <div id="season_participation" style="display:inline;"><%= render partial: 'competition/tournament_seasons/join_or_leave' %></div>
        <% end %>
      <% end %>
    </td>
<% if @season.matches.present? %>
    <td>
      <%= form_tag competition_tournament_path(@tournament), method: :get, class: 'simple_form form-horizontal' do %>
        <label for="matchday" class="string required" style="display:inline"><%= t('activerecord.attributes.tournament_match.matchday') %></label>&nbsp;&nbsp;
        <%= hidden_field_tag 'season_id', @season.id %>
        <%= select_tag 'matchday', options_for_select((1..@season.matchdays).to_a, @matchday), style: 'width:50px' %> 
      <% end %>
    </td>
<% end %>
  </tr>
</table>

<div class="tabs tournament_show_tabs">
  <ul>
    <li>
      <a href="#rankings"><%= t('tournament_rankings.index.short_title') %></a>
    </li>
    <li>
      <a href="<%= competition_season_matches_path(@season.id, matchday: @matchday) %>">
        <%= t('tournament_matches.index.title') %>
        <%= image_tag 'voluntary/spinner.gif', class: 'ajax_spinner hide' %>
      </a>
    </li>
<% if can? :update, @season %>
    <li>
      <a href="<%= competition_season_participations_path(@season.id) %>">
        <%= t('season_participations.index.short_title') %> 
        <%= image_tag 'voluntary/spinner.gif', class: 'ajax_spinner hide' %>
      </a>
    </li>
<% end %>
  </ul>
  <div id="rankings">
    Dummy
  </div>
</div>

<% javascript_tag do %>
  matchday = <%= @matchday %>
<% end %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'voluntary_competition/tournaments/show' %>
<% end %>