<% round_matches_index = @round_matches_index[round] %>
<% first_matchday_of_round = @matches.has_key?(round) ? @matches[round].keys.sort.first : nil %>
<% first_leg_round_match = @matches.has_key?(round) ? @matches[round][first_matchday_of_round][round_matches_index] : nil %>
<% matches = first_leg_round_match ? round_matches_for_competitors(round, [first_leg_round_match.home_competitor_id, first_leg_round_match.away_competitor_id]) : [] %>
<% with_second_leg = @with_second_leg && round != @winner_rounds ? true : false %>
<tr>
  <td style="height:7px;"></td>
<% if round > 2 %>
  <% multiplicator = @with_second_leg ? 6 : 4 %>
  <td colspan="<%= (round - 2) * multiplicator %>"></td>
<% end %>
  <td style="border:0px solid #000000; border-bottom-width:2px; text-align:center;" rowspan="2">&nbsp;</td>
  <td style="border:1px solid #AAAAAA; border-bottom: 0px; border-right:0px; background:#F9F9F9; padding-left:1em; text-align:left;" rowspan="2">
    <%= matches.any? ? link_to(matches.first.home_competitor.name, competition_competitor_path(matches.first.home_competitor)) : '-' %>
  </td>
  <td style="border:1px solid #AAAAAA; border-bottom: 0px; <%= with_second_leg ? 'border-right:0px;' : '' %> background:#F9F9F9; text-align:center;" rowspan="2">
<% if matches.any? && matches.first.matchday == @season.current_matchday && matches.first.home_goals.blank? && @can_update_season %>
    <input type="text" style="width:19px; position:relative; top:5px;" name="matches[<%= matches.first.id %>][home_goals]" id="matches_<%= matches.first.id %>_home_goals">   
<% else %>    
    <%= matches.first.try(:home_goals) || '-' %>
  </td>
<% end %>
<% if with_second_leg %>
  <td style="border:1px solid #AAAAAA; border-bottom: 0px; border-right:0px; background:#F9F9F9; text-align:center;" rowspan="2">
  <% if matches.any? && matches.second.matchday == @season.current_matchday && matches.second.away_goals.blank? && @can_update_season %>
    <input type="text" style="width:19px; position:relative; top:5px;" name="matches[<%= matches.second.id %>][away_goals]" id="matches_<%= matches.second.id %>_away_goals">   
  <% else %> 
    <%= matches.second.try(:away_goals) || '-' %>
  <% end %>
  </td>
  <td style="border:1px solid #AAAAAA; border-bottom: 0px; background:#F9F9F9; text-align:center;" rowspan="2">
  <% if matches.second.try(:home_goals).present? %>
    <%= matches.first.home_goals + matches.second.away_goals %>
  <% else %>
    -
  <% end %>    
  </td>
<% end %>
<% if @winner_rounds >= round + 1 && round_matches_index % 2 == 0 %>  
  <td rowspan="2" style="border:0px solid #000000; border-bottom-width:2px;">&nbsp;</td>
<% end %>
<% if @third_place_playoff && @round_matches_index[1] == first_round_matches_index_for_last_match_of_round(@winner_rounds - 2) %>
  <%= render partial: 'competition/tournament_seasons/third_place_playoff', locals: { position: 'after_first_round_bracket_match_top' } %>
<% end %>
</tr>
<tr>
  <td style="height:7px;"></td>
  <% multiplicator = @with_second_leg ? 4 : 2 %>
  <td colspan="<%= (round - 1) * multiplicator + ((round - 2) * 2) %>" rowspan="2"></td>
<% if @third_place_playoff && @round_matches_index[1] == first_round_matches_index_for_last_match_of_round(@winner_rounds - 2) %>
  <%= render partial: 'competition/tournament_seasons/third_place_playoff', locals: { position: 'after_first_round_bracket_match_between' } %>
<% end %>
</tr>
<tr>
  <td style="height:7px;"></td>
  <td style="border:0px solid #000000; border-top-width:2px; text-align:center;" rowspan="2">&nbsp;</td>
  <td style="border:1px solid #AAAAAA; border-right:0px; background:#F9F9F9; padding-left:1em;" rowspan="2">
    <%= matches.any? ? link_to(matches.first.away_competitor.name, competition_competitor_path(matches.first.away_competitor)) : '-' %>
  </td>
  <td style="border:1px solid #AAAAAA; <%= with_second_leg ? 'border-right:0px;' : '' %> background:#F9F9F9; text-align:center;" rowspan="2">
<% if matches.any? && matches.first.matchday == @season.current_matchday && matches.first.away_goals.blank? && @can_update_season %>
    <input type="text" style="width:19px; position:relative; top:5px;" name="matches[<%= matches.first.id %>][away_goals]" id="matches_<%= matches.first.id %>_away_goals">   
<% else %>     
    <%= matches.first.try(:away_goals) || '-' %>
<% end %>
  </td>
<% if with_second_leg && round != @winner_rounds %>
  <td style="border:1px solid #AAAAAA; border-right:0px; background:#F9F9F9; text-align:center;" rowspan="2">
  <% if matches.any? && matches.second.matchday == @season.current_matchday && matches.second.home_goals.blank? && @can_update_season %>  
    <input type="text" style="width:19px; position:relative; top:5px;" name="matches[<%= matches.second.id %>][home_goals]" id="matches_<%= matches.second.id %>_home_goals">   
  <% else %>
    <%= matches.second.try(:home_goals) || '-' %>
  <% end %>
  </td>
  <td style="border:1px solid #AAAAAA; background:#F9F9F9; text-align:center;" rowspan="2">
  <% if matches.second.try(:home_goals).present? %>
    <%= matches.first.away_goals + matches.second.home_goals %>
  <% else %>
    -
  <% end %>
  </td>
<% end %>

<% if @winner_rounds >= round + 1 && round_matches_index % 2 == 0 %>   
  <td rowspan="<%= rowspan_for_round_connector(round) %>" style="border:2px solid #000000; border-left-width:0px;">&nbsp;</td>
<% elsif @winner_rounds >= round + 1 && round_matches_index % 2 != 0 %>
  <td rowspan="2" style="border:0px solid #000000; border-top-width:2px;">&nbsp;</td>
<% end %>

<% if @third_place_playoff && round == @winner_rounds - 1 && @round_matches_index[1] == first_round_matches_index_for_last_match_of_round(round) %>
  <%= render partial: 'competition/tournament_seasons/third_place_playoff', locals: { position: 'after_first_round_bracket_match_bottom_only_round_title' } %>
<% end %>
</tr>