<% round_matches_index = @round_matches_index[of_winners_bracket][round] %>
<% first_matchday_of_round = @matches[of_winners_bracket].has_key?(round) ? @matches[of_winners_bracket][round].keys.sort.first : nil %>
<% first_leg_round_match = @matches[of_winners_bracket].has_key?(round) ? @matches[of_winners_bracket][round][first_matchday_of_round][round_matches_index] : nil %>
<% matches = first_leg_round_match ? round_matches_for_competitors(of_winners_bracket, round, [first_leg_round_match.home_competitor_id, first_leg_round_match.away_competitor_id]) : [] %>
<% rounds = of_winners_bracket ? @winner_rounds : @loser_rounds %>
<tr>
  <td style="height:7px;"></td>
<% if round > 2 %>
  <% multiplicator = @with_second_leg ? 6 : 4 %>
  <td colspan="<%= (round - 2) * multiplicator %>"></td>
<% end %>
  <td style="border:0px solid #000000; border-bottom-width:2px; text-align:center;" rowspan="2">&nbsp;</td>
  <%= render partial: 'competition/tournament_seasons/bracket_match_half', locals: { 
    matches: matches, rowspan: 2, side: :home, of_winners_bracket: of_winners_bracket, round: round
  } %>
<% if rounds >= round + 1 && round_matches_index % 2 == 0 %>  
  <td rowspan="2" style="border:0px solid #000000; border-bottom-width:2px;">&nbsp;</td>
<% end %>
<% if of_winners_bracket && @third_place_playoff && @round_matches_index[of_winners_bracket][1] == first_round_matches_index_for_last_match_of_round(rounds - 2) %>
  <%= render partial: 'competition/tournament_seasons/third_place_playoff', locals: { position: 'after_first_round_bracket_match_top' } %>
<% end %>
</tr>
<tr>
  <td style="height:7px;"></td>
  <% multiplicator = @with_second_leg ? 4 : 2 %>
  <td colspan="<%= (round - 1) * multiplicator + ((round - 2) * 2) %>" rowspan="2"></td>
<% if of_winners_bracket && @third_place_playoff && @round_matches_index[of_winners_bracket][1] == first_round_matches_index_for_last_match_of_round(rounds - 2) %>
  <%= render partial: 'competition/tournament_seasons/third_place_playoff', locals: { position: 'after_first_round_bracket_match_between' } %>
<% end %>
</tr>
<tr>
  <td style="height:7px;"></td>
  <td style="border:0px solid #000000; border-top-width:2px; text-align:center;" rowspan="2">&nbsp;</td>
  <%= render partial: 'competition/tournament_seasons/bracket_match_half', locals: { 
    matches: matches, rowspan: 2, side: :away, of_winners_bracket: of_winners_bracket, round: round
  } %>
<% if rounds >= round + 1 && round_matches_index % 2 == 0 %>   
  <% rowspan = rowspan_for_round_connector(round) %>
  <% if @is_double_elimination && of_winners_bracket && round == rounds - 1 %>
    <% rowspan -= 2 %>
  <% end %>
  <td rowspan="<%= rowspan %>" style="border:2px solid #000000; border-left-width:0px;">&nbsp;</td>
<% elsif rounds >= round + 1 && round_matches_index % 2 != 0 %>
  <td rowspan="2" style="border:0px solid #000000; border-top-width:2px;">&nbsp;</td>
<% end %>

<% if of_winners_bracket && @third_place_playoff && round == rounds - 1 && @round_matches_index[of_winners_bracket][1] == first_round_matches_index_for_last_match_of_round(round) %>
  <%= render partial: 'competition/tournament_seasons/third_place_playoff', locals: { position: 'after_first_round_bracket_match_bottom_only_round_title' } %>
<% end %>
</tr>