<%= form_tag updates_competition_season_matches_path(@season.id), method: :put, remote: true, id: 'bracket_matches_form' do %>
  <%= hidden_field_tag 'from_bracket', true %>
  <%= hidden_field_tag 'matchday', @season.current_matchday %>
  <table cellspacing="0" cellpadding="0" border="0" style="font-size:70%; margin:1em 2em 1em 1em; border-collapse: separate;">
    <tbody>
      <%= render partial: 'competition/tournament_seasons/bracket_set_head', locals: { of_winners_bracket: true } %>
  <% @matches[true][1][1].each do |match| %>
      <%= render partial: 'competition/tournament_seasons/bracket_set', locals: { 
        of_winners_bracket: true, match: match, first_matchday_matches_count: @matches[true][1][1].length
      } %>
  <% end %>
  
  <% if @is_double_elimination %>
      <%= render partial: 'competition/tournament_seasons/bracket_set_head', locals: { of_winners_bracket: false } %>
    <% @matches[false] ||= {} %> 
    <% @round_matches_index[false] ||= { 1 => 0} %>
    <% first_matchday_matches_count = (@matches[true][1][1].length / 2) %>
    <% first_matchday_matches_count.times do |first_loser_round_match_index| %>
      <% first_loser_round_match = @matches[false][1].try(:[], 2).try(:[], first_loser_round_match_index) %>
      <%= render partial: 'competition/tournament_seasons/bracket_set', locals: { 
        of_winners_bracket: false, match: first_loser_round_match, first_matchday_matches_count: first_matchday_matches_count
      } %>
    <% end %>
  <% end %>    
    </tbody>
  </table>
  
  <% if @can_update_season %>
  <p><%= submit_tag t('general.submit'), class: 'btn' %> <%= image_tag 'voluntary/spinner.gif', class: 'hide', id: 'bracket_matches_spinner' %></p>
  <% end %>
<% end %>