<% match = @matches.has_key?(@winner_rounds) ? @matches[@winner_rounds][@season.matchdays][1] : nil %>
<% case position %>
<% when 'first_round_bracket_row' %>
  <% multiplicator = @with_second_leg ? 6 : 4 %>
  <% if @winner_rounds == 2 && @round_matches_index[1] == @matches[1][1].length - 1 && side == :away %>
<td colspan="<%= (@winner_rounds - 2) * multiplicator + 1 %>">&nbsp;</td>
<td colspan="2" style="border:1px solid #AAAAAA; background:#F2F2F2; text-align:center; padding-left:1em;">
  <%= t('tournament_seasons.general.rounds.third_place') %>
</td>
  <% elsif @winner_rounds == 3 && @round_matches_index[1] == @matches[1][1].length - 1 && side == :away %>
    <% match = @matches.has_key?(@winner_rounds) ? @matches[@winner_rounds][@season.matchdays][1] : nil %>
<td colspan="<%= (@winner_rounds - 2) * multiplicator + 1 %>">&nbsp;</td>
<td style="border:1px solid #AAAAAA; border-right:0px; border-bottom:0px; background:#F9F9F9; padding-left:1em;">
  <%= match ? link_to(match.home_competitor.name, competition_competitor_path(match.home_competitor)) : '-' %>
</td>
<td style="border:1px solid #AAAAAA; border-bottom:0px; background:#F9F9F9; text-align:center;">
    <% if match.try(:matchday) == @season.current_matchday && match.home_goals.blank? && @can_update_season %>
  <input type="text" style="width:19px; position:relative; top:5px;" name="matches[<%= match.id %>][home_goals]" id="matches_<%= match.id %>_home_goals">   
    <% else %>    
  <%= match.try(:home_goals) || '-' %>
    <% end %>
</td>
  <% end %>
<% when 'bracket' %>
  <% multiplicator = @with_second_leg ? 4 : 2 %>
  
  <% if @winner_rounds == 2 %>
<tr>
  <td colspan="<%= (@winner_rounds - 1) * multiplicator + ((@winner_rounds - 2) * 2) + 3 %>">&nbsp;</td>
  <td colspan="2"></td>
</tr>  
<tr>
  <td colspan="<%= (@winner_rounds - 1) * multiplicator + ((@winner_rounds - 2) * 2) + 3 %>">&nbsp;</td>
  <td style="border:1px solid #AAAAAA; border-right:0px; border-bottom: 0px; background:#F9F9F9; padding-left:1em;">
    <%= match ? link_to(match.home_competitor.name, competition_competitor_path(match.home_competitor)) : '-' %>
  </td>
  <td style="border:1px solid #AAAAAA; border-bottom: 0px; background:#F9F9F9; text-align:center;">
  <% if match.try(:matchday) == @season.current_matchday && match.home_goals.blank? && @can_update_season %>
    <input type="text" style="width:19px; position:relative; top:5px;" name="matches[<%= match.id %>][home_goals]" id="matches_<%= match.id %>_home_goals">   
  <% else %>    
    <%= match.try(:home_goals) || '-' %>
  <% end %>
  </td>
</tr>
  <% end %>
<tr>
  <td colspan="<%= (@winner_rounds - 1) * multiplicator + ((@winner_rounds - 2) * 2) + 3 %>">&nbsp;</td>
  <td style="border:1px solid #AAAAAA; border-right:0px; background:#F9F9F9; padding-left:1em;">
    <%= match ? link_to(match.away_competitor.name, competition_competitor_path(match.away_competitor)) : '-' %>
  </td>
  <td style="border:1px solid #AAAAAA;  background:#F9F9F9; text-align:center;">
  <% if match.try(:matchday) == @season.current_matchday && match.away_goals.blank? && @can_update_season %>
    <input type="text" style="width:19px; position:relative; top:5px;" name="matches[<%= match.id %>][away_goals]" id="matches_<%= match.id %>_away_goals">   
  <% else %>    
    <%= match.try(:away_goals) || '-' %>
  <% end %>
  </td>
</tr>
<% when 'after_first_round_bracket_match_top' %>
  <% multiplicator = @with_second_leg ? 6 : 4 %>
<td colspan="<%= 1 * multiplicator + 1 %>">&nbsp;</td>
<td style="border:1px solid #AAAAAA; border-right:0px; border-bottom:0px; background:#F9F9F9; padding-left:1em;">
  <%= match ? link_to(match.home_competitor.name, competition_competitor_path(match.home_competitor)) : '-' %>
</td>
<td style="border:1px solid #AAAAAA; border-bottom:0px; background:#F9F9F9; text-align:center;">
  <% if match.try(:matchday) == @season.current_matchday && match.home_goals.blank? && @can_update_season %>
  <input type="text" style="width:19px; position:relative; top:5px;" name="matches[<%= match.id %>][home_goals]" id="matches_<%= match.id %>_home_goals">   
  <% else %>    
  <%= match.try(:home_goals) || '-' %>
  <% end %>
</td>
<% when 'after_first_round_bracket_match_between' %>
  <% multiplicator = @with_second_leg ? 6 : 4 %>
<td colspan="<%= 1 * multiplicator + 1 %>" rowspan="2">&nbsp;</td>
<td  rowspan="2" style="border:1px solid #AAAAAA; border-right:0px; background:#F9F9F9; padding-left:1em;">
  <%= match ? link_to(match.away_competitor.name, competition_competitor_path(match.away_competitor)) : '-' %>
</td>
<td rowspan="2" style="border:1px solid #AAAAAA; background:#F9F9F9; text-align:center;">
  <% if match.try(:matchday) == @season.current_matchday && match.away_goals.blank? && @can_update_season %>
  <input type="text" style="width:19px; position:relative; top:5px;" name="matches[<%= match.id %>][away_goals]" id="matches_<%= match.id %>_away_goals">   
  <% else %>    
  <%= match.try(:away_goals) || '-' %>
  <% end %>
</td>
<% when 'after_first_round_bracket_match_bottom_only_round_title' %>
<td rowspan="2">&nbsp;</td>
<td style="text-align:center; background-color:#F2F2F2; border:1px solid #aaa;" colspan="2" rowspan="2"><%= t('tournament_seasons.general.rounds.third_place') %></td>
<% end %>